{% extends "base.html" %}
{% block title %}
   ABOUT PAGE
{% endblock title %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4"><center>To Do List App<center/></h1>
  <p class="lead"><center>This is To Do App For your organize your life</center></p>
   <p class="lead"><center>You can change , add , delete and create your to-do</center></p>
   <p class="lead"><center>We love make a plan and do it!</center></p>
   <p class="lead"><center>Time is life , not miss your plan!</center></p>

   <hr class="my-4">

  <p class="lead">

  </p>
</div>
{% endblock content %}